$color-primary: #fbe5c8;
$color-secondary: #5637dd;
$color-news: #3046c5;
$color-wellbeing: teal;
$color-fun: #c53093;

$body-font: "Alegreya", sans-serif;
$header-font: "Alegreya", cursive;

html,
body {
  height: 100vh;
  margin: 0;
  font-family: $body-font;
}
section {
  height: 100vh;
}
section:nth-child(1) {
  background: #fbe5c8;
}

section:nth-child(2) {
  background: #8fdde7;
  h1,
  h2,
  h3,
  div,
  p {
    color: $color-news;
  }
}

section:nth-child(3) {
  background: #b6e5d8;
  h1,
  h2,
  h3,
  div,
  p {
    color: $color-wellbeing;
  }
}

section:nth-child(4) {
  background: #ffc2c7;
  h1,
  h2,
  h3,
  div,
  p {
    color: $color-fun;
  }
}

.navbar-inner {
  background: transparent;
}

.nav-link {
  font-size: 1rem;
}

.nav-link:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}

.navbar-text:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}

.nav-cards {
  margin-top: 2hv;
}

.card {
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.cards {
  margin: 3rem;
}
.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.landing {
  height: 80%;
  width: 80%;
  background-color: #f7f7f7;
}
.food {
  position: relative;
}
.food::before {
  content: "";
  background-image: url("../img/food.jpg");
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 1;
}
.container {
  color: black;
}
.card-text {
  font-weight: bold;
  color: black;
  z-index: 3;
}

.card-body {
  padding: 0;
}

h1,
h2,
h3 {
  font-family: $header-font;
}
.home-links {
  font-size: 1.5rem;
  text-align: center;
}
#mainMsg {
  margin-left: 10%;
  font-size: 4vw;
  display: inline-block;
}
#catWatchers {
  font-size: 2.5rem;
}
.text-center {
  font-size: 2.2rem;
}

.main-text {
  line-height: 150%;
  margin-top: 3vh;
  padding-top: 3vh;
  font-size: 1.3rem;
}
a {
  text-decoration: none;
}

.top-row {
  margin-top: 6%;
  margin-bottom: 4%;
}

.nav-cards {
  margin-top: 8%;
}

#home {
  color: #e68405;
  height: 100vh;
  background-color: $color-primary;
  a {
    text-decoration: none;
    color: #e68405;
  }
}

#news {
  color: $color-news;
  background: #8fdde7;
  height: 100vh;
  a {
    text-decoration: none;
  }
}

#wellbeing {
  color: $color-wellbeing;
  background: #b6e5d8;
  height: 100vh;
  a {
    text-decoration: none;
    color: teal;
  }
}

#fun {
  color: $color-fun;
  background: #ffc2c7;
  height: 100vh;
  a {
    text-decoration: none;
    color: #c53093;
  }
}

.fun {
  background-color: #ffc2c7;
}
.well-being {
  background-color: #b6e5d8;
}
.news {
  background-color: #8fdde7;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: transparent;
  text-align: center;
  height: auto;
}
.flex-container {
  display: flex;
  flex-flow: column;
  flex-direction: row;
  height: 100%;
}
