$color-primary: #fbe5c8;
$color-secondary: #5637dd;
$color-news: #3046c5;
$color-wellbeing: teal;
$color-fun: #c53093;

$body-font: "Alegreya", sans-serif;
$header-font: "Alegreya", cursive;

html,
body {
  height: 100%;
  margin: 0;
  font-family: $body-font;
}
section {
  height: 100vh;
}
section:nth-child(2) {
  background: #fbe5c8;
}

section:nth-child(3) {
  background: #8fdde7;
  h1,
  h2,
  h3,
  div,
  p {
    color: $color-news;
  }
}

section:nth-child(4) {
  background: #b6e5d8;
  h1,
  h2,
  h3,
  div,
  p {
    color: $color-wellbeing;
  }
}

section:nth-child(5) {
  background: #ffc2c7;
  h1,
  h2,
  h3,
  div,
  p {
    color: $color-fun;
  }
}

.cards {
  margin: 3rem;
}
.landing {
  height: 80%;
  width: 80%;
  background-color: #f7f7f7;
}
.food {
  position: relative;
}
.food::before {
  content: "";
  background-image: url("../img/food.jpg");
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 1;
}
.container {
  color: black;
}
.card-text {
  font-weight: bold;
  color: black;
  z-index: 3;
}

h1,
h2,
h3 {
  font-family: $header-font;
}
.home-links {
  margin-top: 5%;
  font-size: 1.8rem;
  text-align: center;
}
#mainMsg {
  margin-left: 10%;
  font-size: 4rem;
}
#catWatchers {
}
p {
  font-size: 1.3rem;
}
a {
  font-size: 1.3rem;
  text-decoration: none;
}
.fun {
  background-color: #ffc2c7;
}
.well-being {
  background-color: #b6e5d8;
}
.news {
  background-color: #8fdde7;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fbe5c8;
  text-align: center;
}
