$color-primary: #3046c5;
$color-secondary: #5637dd;
$color-pale: #cec8ff;
$color-mid: #fbe5c8;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Alegreya", sans-serif;
$header-font: "Alegreya", cursive;

html,
body {
  height: 100%;
  margin: 0;
  font-family: $body-font;
}
section {
  height: 100vh;
}
section:nth-child(3) {
  background: #fbe5c8;
}

section:nth-child(4) {
  background: #8fdde7;
}

section:nth-child(5) {
  background: #b6e5d8;
}

section:nth-child(6) {
  background: #ffc2c7;
}

.cards {
  margin: 3rem;
}
.landing {
  height: 80%;
  width: 80%;
  background-color: #f7f7f7;
}
.food {
  position: relative;
}
.food::before {
  content: "";
  background-image: url("../img/food.jpg");
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 1;
}
.container {
  color: black;
}
.card-text {
  font-weight: bold;
  color: black;
  z-index: 3;
}

h1,
h2,
h3 {
  font-family: $header-font;
}

h2 {
  color: $color-primary;
}
header {
  h2 {
    color: $color-pale;
  }
}
.site-footer {
  background-image: linear-gradient($color-pale, white);
  padding: 20px 0;
}
.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(
    to right,
    $color-secondary,
    $color-primary,
    $color-dark
  );
  color: white;
}
.navbar {
  background-color: $color-mid;
}
.home-links {
  margin-top: 5%;
  font-size: 1.8rem;
  text-align: center;
}
#mainMsg {
  margin-left: 10%;
  font-size: 4rem;
}
#catWatchers {
}
.fun {
  background-color: #ffc2c7;
}

.well-being {
  background-color: #b6e5d8;
}

.news {
  background-color: #8fdde7;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fbe5c8;
  text-align: center;
}
