@media only screen and (max-width: 768px) {
  html {
    height: fit-content;
    overflow: auto;
  }

  body {
    overflow: auto;
    height: fit-content;
  }

  .navbar-collapse {
    background: #fbe5c8;
  }

  #home {
    overflow: auto;
  }

  #news {
    overflow: auto;
  }

  #well-being {
    overflow: auto;
  }

  #fun {
    overflow: auto;
  }
}
body {
  overflow: auto;
  min-height: 100vh;
  margin: 0;
  font-family: "Alegreya", sans-serif;
  font-size: 1.3rem;
}

.navbar-inner {
  background: transparent;
}

.nav-link {
  font-size: 1rem;
}

.nav-link:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}

.navbar-text:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}

.nav-cards {
  margin-top: 2hv;
}

.card {
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.cards {
  margin: 3rem;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.landing {
  height: 80%;
  width: 80%;
  background-color: #f7f7f7;
}

.food {
  position: relative;
}

.food::before {
  content: "";
  background-image: url("../img/food.jpg");
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 1;
}

.container {
  color: black;
}

.card-text {
  font-weight: bold;
  color: black;
  z-index: 3;
}

.card-body {
  padding: 0;
}

img {
  height: auto;
}

.tabcontent img {
  float: left;
  padding: 0 20px 20px 0;
}

h1,
h2,
h3 {
  font-family: "Alegreya", cursive;
}

.home-links {
  font-size: 1.5rem;
  text-align: center;
}

#mainMsg {
  margin-left: 10%;
  font-size: 4vw;
  display: inline-block;
}

#catWatchers {
  font-size: 2.5rem;
}

.text-center {
  font-size: 2.2rem;
}

.main-text {
  line-height: 150%;
  margin-top: 3vh;
  padding-top: 3vh;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

.top-row {
  margin-top: 2%;
  margin-bottom: 1%;
}

.nav-cards {
  margin-top: 3%;
}

#home {
  color: #e68405;
  min-height: 100vh;
  background: #fbe5c8;
  overflow: auto;
}
#home a {
  text-decoration: none;
  color: #e68405;
}

#news {
  color: #3046c5;
  background: #8fdde7;
  min-height: 100vh;
  overflow: auto;
}
#news a {
  text-decoration: none;
}

#wellbeing {
  color: teal;
  background: #b6e5d8;
  min-height: 100vh;
  overflow: auto;
}
#wellbeing a {
  text-decoration: none;
  color: teal;
}

#fun {
  color: #c53093;
  background: #ffc2c7;
  min-height: 100vh;
  overflow: auto;
}
#fun a {
  text-decoration: none;
  color: #c53093;
}

.fun {
  background: #ffc2c7;
}

.well-being {
  background: #b6e5d8;
}

.news {
  background: #8fdde7;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: transparent;
  text-align: center;
  height: auto;
  font-size: 1rem;
}

.flex-container {
  display: flex;
  flex-flow: column;
  flex-direction: row;
  height: 100%;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #8fdde7;
  color: white;
  width: 100%;
  height: auto;
  font-size: 1.3rem;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #e69429;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #e69429;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 100%;
  border-left: none;
  height: 60vh;
}

/*# sourceMappingURL=style.css.map */
